<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insurance Policy Schedules</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Insurance Policy Schedules</h1>
        <table id="insurancePolicyScheduleTable" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Policy ID</th>
                    <th>Status Check</th>
                </tr>
            </thead>
            <tbody>
                <!-- Use Thymeleaf syntax for data binding -->
                <tr th:each="id : ${distinctIplcIds}">
                    <td th:text="${id}"></td>
                    <td>
                        <button type="button" class="btn btn-warning custom-button"
                            th:onclick="'javascript:editStatus(' + ${id} + ')'">Display no of months not paid</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
     <a href="/link" class="btn btn-primary mt-3">Back to Links</a>
    <script th:inline="javascript">
        function editStatus(id) {
            var urlWithParams = '/nonPaymentStatus?iplcId=' + id;
            window.location.href = urlWithParams;
        }
    </script>
</body>
</html>
